body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: lightblue;
    border: 5px solid darkgreen;
    padding: 25px;
    width: 100%;
    max-width: 550px;
   
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 4px;
    font-weight: bold;
}

input,
select,
textarea {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

@media (max-width: 600px) {
    .form-container {
        padding: 12px;
    }

    input,
    select,
    textarea {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}